:root{
    --primary-100:#FF6600;
    --primary-200:#ff983f;
    --primary-300:#ffffa1;
    --accent-100:#F5F5F5;
    --accent-200:#929292;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#1D1F21;
    --bg-200:#2c2e30;
    --bg-300:#444648;

    /* size */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html{
    scroll-behavior: smooth;
}

.light-mode{
    --clr-light: #070a13;
    --clr-dark: #f1f5f9;
    --clr-slate400: #1e293b;
    --clr-slate600: #1e293b;
    --clr-slate800: #1e293b;
}

body{
    font-family: 'General Sans', sans-serif;
    background-color: var(--bg-100);
    color: var(--text-100);
    min-height: 100vh;
}

img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
    user-select: none;
}

button{
    display: inline-block;
    padding: 0;
    border:none;
    background: none;
    cursor: pointer;
    color: inherit;
}
