.content{
    display: flex;
    flex-direction: column;
    /* background-color: var(--bg-300); */
    /* align-items: center; */
    /* text-align: left; */
    margin-top: 3rem;
    padding: 2rem;
    height: 70vh;
    width: 100%;
}

h1 {
    font-size: var(--size-2xl);
    text-transform: capitalize;
}

.add_text{
    display: flex;
    gap: 0.1rem;
    /* border: 1px solid red; */
    /* position: relative; */
}
input{
    /* position: absolute; */
    margin: 0;
    padding: 0, 0.1rem;
    flex: 1;
    border: none;
    border-radius: 0.1rem;
}

ul {
    list-style: none;
    padding: 0 1rem;
    margin-top: 1rem;
}

ul li{
    /* border: 1px solid red; */
    font-size: var(--size-sm);
    position: relative;
    padding-left: 30px;
}

ul li::before{
    /* border: 1px solid var(--primary-200); */
    position: absolute;
    content: '';
    background: url('/check.svg') no-repeat;
    filter: invert(100%);
    /* background-color: #fff; */
    border-radius: 50%;
    /* color: #fff; */
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
}
ul li:hover::after{
    position: absolute;
    content: '';
    background: url('/cancel.svg') no-repeat;
    filter: invert(100%);
    width: 20px;
    height: 20px;
    right: 0;
}

.done{
    text-decoration: line-through;
}
.done::before {
    background-color: var(--primary-200);
}

ul li:not(:last-child){
    margin-bottom: 0.5rem;
}