.header{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header h1{
    text-transform: uppercase;
    font-size: var(--size-2xl);
    color: var(--text-100);
    text-shadow: 1px 1px 1px var(--primary-100);
}

.header h1:hover{
    text-shadow: 1px 1px 5px var(--primary-100);

}

.header__input{
    display: flex;
    max-width: 425px;
    /* border: 1px solid blue; */
}

.header__input input{
    color: var(--accent-100);
    font-size: var(--size-sm);
    text-decoration: none;
    border: 0;
    border-radius: 0.3rem 0.0rem 0.0rem 0.3rem;
    padding: 0.5rem;
    background-color: var(--accent-200);
    /* height: var(--size-sm); */
    /* width: var(--size-sm); */
    flex: 1;
}

.header__add_btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


@media (min-width: 475px) {
    .header h1{
        font-size: var(--size-3xl);
    }

}
@media (min-width: 640px) {

}
@media (min-width: 768px) {

}
@media (min-width: 1024px) {
    .header h1{
        font-size: var(--size-4xl);
    }

}
@media (min-width: 1280px) {

}
@media (min-width: 1536px) {
    .header h1{
        font-size: var(--size-5xl);
    }

}